<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jbpmextensions -->
      <package
            uri="http://www.jbpm.org/cmmn/jbpmext"
            class="org.jbpm.cmmn.jbpmext.JbpmextPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated jbpmextensions -->
      <parser
            type="jbpmext"
            class="org.jbpm.cmmn.jbpmext.util.JbpmextResourceFactoryImpl"/>
   </extension>

</plugin>
