/** sprite: vdcm-images-sprite; sprite-image: url('../../images/sprites/vdcm-images-sprite.png'); sprite-layout: vertical */
/* Edges */
.stencilsets_vdcm_vdcm_json_icons_capability_method,
.x-tree-node-leaf .stencilsets_vdcm_vdcm_json_icons_capability_method {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdcm/icons/capability_method.png);  /** sprite-ref: vdcm-images-sprite; */
}
.stencilsets_vdcm_vdcm_json_icons_capability_offer,
.x-tree-node-leaf .stencilsets_vdcm_vdcm_json_icons_capability_offer {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdcm/icons/capability_offer.png);  /** sprite-ref: vdcm-images-sprite; */
}
.stencilsets_vdcm_vdcm_json_icons_link,
.x-tree-node-leaf .stencilsets_vdcm_vdcm_json_icons_link {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdcm/icons/link.png);  /** sprite-ref: vdcm-images-sprite; */
}
.stencilsets_vdcm_vdcm_json_icons_org_unit,
.x-tree-node-leaf .stencilsets_vdcm_vdcm_json_icons_org_unit {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdcm/icons/org_unit.png);  /** sprite-ref: vdcm-images-sprite; */
}
.stencilsets_vdcm_vdcm_json_icons_pool,
.x-tree-node-leaf .stencilsets_vdcm_vdcm_json_icons_pool {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdcm/icons/pool.png);  /** sprite-ref: vdcm-images-sprite; */
}
.stencilsets_vdcm_vdcm_json_icons_position,
.x-tree-node-leaf .stencilsets_vdcm_vdcm_json_icons_position {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdcm/icons/position.png);  /** sprite-ref: vdcm-images-sprite; */
}
.stencilsets_vdcm_vdcm_json_icons_store,
.x-tree-node-leaf .stencilsets_vdcm_vdcm_json_icons_store {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdcm/icons/store.png);  /** sprite-ref: vdcm-images-sprite; */
}
