/** sprite: vdlib-images-sprite; sprite-image: url('../../images/sprites/vdlib-images-sprite.png'); sprite-layout: vertical */
/* Edges */
.stencilsets_vdlib_vdlib_json_icons_business_item_definition,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_business_item_definition {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/business_item_definition.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_capability_definition,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_capability_definition {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/capability_definition.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_deliverable_capability_category,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_capability_category {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/capability_category.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_characteristic,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_characteristic {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/characteristic.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_characteristic_definition,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_characteristic_definition {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/characteristic_definition.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_composition,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_composition {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/composition.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_directed_association,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_directed_association {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/directed_association.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_bi_directional_association,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_bi_directional_association {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/bi_directional_association.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_generalization,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_generalization {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/generalization.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_interface_realization,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_interface_realization{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/interface_realization.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_class,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_class{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/class.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_interface,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_interface{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/interface.png);  /** sprite-ref: vdlib-images-sprite; */
}
.stencilsets_vdlib_vdlib_json_icons_enumeration,
.x-tree-node-leaf .stencilsets_vdlib_vdlib_json_icons_enumeration{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdlib/icons/enumeration.png);  /** sprite-ref: vdlib-images-sprite; */
}
