/** sprite: vdrc-images-sprite; sprite-image: url('../../images/sprites/vdrc-images-sprite.png'); sprite-layout: vertical */
/* Edges */
.stencilsets_vdrc_vdrc_json_icons_existing_deliverable_flow,
.x-tree-node-leaf .stencilsets_vdrc_vdrc_json_icons_existing_deliverable_flow {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdrc/icons/existing_deliverable_flow.png);  /** sprite-ref: vdrc-images-sprite; */
}
.stencilsets_vdrc_vdrc_json_icons_new_tangible_deliverable_flow,
.x-tree-node-leaf .stencilsets_vdrc_vdrc_json_icons_new_tangible_deliverable_flow {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdrc/icons/new_tangible_deliverable_flow.png);  /** sprite-ref: vdrc-images-sprite; */
}
.stencilsets_vdrc_vdrc_json_icons_new_intangible_deliverable_flow,
.x-tree-node-leaf .stencilsets_vdrc_vdrc_json_icons_new_intangible_deliverable_flow {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdrc/icons/new_intangible_deliverable_flow.png);  /** sprite-ref: vdrc-images-sprite; */
}
.stencilsets_vdrc_vdrc_json_icons_role,
.x-tree-node-leaf .stencilsets_vdrc_vdrc_json_icons_role {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/vdrc/icons/role.png);  /** sprite-ref: vdrc-images-sprite; */
}
