/** sprite: meas-images-sprite; sprite-image: url('../../images/sprites/meas-images-sprite.png'); sprite-layout: vertical */
/* Edges */
.stencilsets_meas_meas_json_icons_unit_of_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_unit_of_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}

.stencilsets_meas_meas_json_icons_direct_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_direct_measure {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}
.stencilsets_meas_meas_json_icons_counting_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_counting_measure {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}
.stencilsets_meas_meas_json_icons_named_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_named_measure {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}

.stencilsets_meas_meas_json_icons_binary_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_binary_measure {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}
.stencilsets_meas_meas_json_icons_collective_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_collective_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}
.stencilsets_meas_meas_json_icons_grade_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_grade_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}
.stencilsets_meas_meas_json_icons_grade_interval,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_grade_interval{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}
.stencilsets_meas_meas_json_icons_ranking_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_ranking_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}
.stencilsets_meas_meas_json_icons_ranking_interval,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_ranking_interval{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}
.stencilsets_meas_meas_json_icons_rescaled_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_rescaled_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/measure.png);  /** sprite-ref: meas-images-sprite; */
}
.stencilsets_meas_meas_json_icons_base_measure_relationship,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_base_measure_relationship{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/base_measure_relationship.png);  /** sprite-ref: meas-images-sprite; */
}
.stencilsets_meas_meas_json_icons_use_unit_of_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_use_unit_of_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/meas/icons/use_unit_of_measure.png);  /** sprite-ref: meas-images-sprite; */
}

