/* Edges */
.stencilsets_meas_meas_json_icons_unit_of_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_unit_of_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -0px;
}

.stencilsets_meas_meas_json_icons_direct_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_direct_measure {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -16px;
}
.stencilsets_meas_meas_json_icons_counting_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_counting_measure {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -32px;
}
.stencilsets_meas_meas_json_icons_named_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_named_measure {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -48px;
}

.stencilsets_meas_meas_json_icons_binary_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_binary_measure {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -64px;
}
.stencilsets_meas_meas_json_icons_collective_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_collective_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -80px;
}
.stencilsets_meas_meas_json_icons_grade_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_grade_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -96px;
}
.stencilsets_meas_meas_json_icons_grade_interval,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_grade_interval{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -112px;
}
.stencilsets_meas_meas_json_icons_ranking_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_ranking_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -128px;
}
.stencilsets_meas_meas_json_icons_ranking_interval,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_ranking_interval{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -112px;
}
.stencilsets_meas_meas_json_icons_rescaled_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_rescaled_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -144px;
}
.stencilsets_meas_meas_json_icons_base1_measure_relationship,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_base1_measure_relationship{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -160px;
}
.stencilsets_meas_meas_json_icons_base2_measure_relationship,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_base2_measure_relationship{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -176px;
}
.stencilsets_meas_meas_json_icons_basen_measure_relationship,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_basen_measure_relationship{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -192px;
}
.stencilsets_meas_meas_json_icons_grade_measure_relationship,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_grade_measure_relationship{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -208px;
}
.stencilsets_meas_meas_json_icons_ranking_measure_relationship,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_ranking_measure_relationship{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -224px;
}

.stencilsets_meas_meas_json_icons_rescaled_measure_relationship,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_rescaled_measure_relationship{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -240px;
}

.stencilsets_meas_meas_json_icons_use_unit_of_measure,
.x-tree-node-leaf .stencilsets_meas_meas_json_icons_use_unit_of_measure{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  background-image: url('../../images/sprites/meas-images-sprite.png');
  background-position: left -256px;
}

