/** sprite: cmmn-images-sprite; sprite-image: url('../../images/sprites/cmmn-images-sprite.png'); sprite-layout: vertical */
/* Edges */
.stencilsets_cmmn_cmmn_json_icons_case_file_item,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_case_file_item {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/case_file_item.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_case_file_item_on_part,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_case_file_item_on_part {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/case_file_item.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_case_task,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_case_task {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/case_task.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_case,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_case {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/case.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_discretionary_case_task,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_discretionary_case_task {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/discretionary_case_task.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_discretionary_human_task,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_discretionary_human_task {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/discretionary_human_task.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_discretionary_link,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_discretionary_link {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/discretionary_link.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_discretionary_process_task,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_discretionary_process_task {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/discretionary_process_task.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_discretionary_stage,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_discretionary_stage {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/discretionary_stage.png);  /** sprite-ref: cmmn-images-sprite; */
}

.stencilsets_cmmn_cmmn_json_icons_entry_sentry,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_entry_sentry {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/entry_sentry.png);  /** sprite-ref: cmmn-images-sprite; */
}

.stencilsets_cmmn_cmmn_json_icons_exit_sentry,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_exit_sentry {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/exit_sentry.png);  /** sprite-ref: cmmn-images-sprite; */
}

.stencilsets_cmmn_cmmn_json_icons_human_task,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_human_task {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/human_task.png);  /** sprite-ref: cmmn-images-sprite; */
}

.stencilsets_cmmn_cmmn_json_icons_milestone,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_milestone {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/milestone.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_plan_item_on_part,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_plan_item_on_part {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/plan_item_on_part.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_process_task,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_process_task {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/process_task.png);  /** sprite-ref: cmmn-images-sprite; */
}
.stencilsets_cmmn_cmmn_json_icons_stage,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_stage {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/stage.png);  /** sprite-ref: cmmn-images-sprite; */
}

.stencilsets_cmmn_cmmn_json_icons_timer_event,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_timer_event {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/timer_event.png);  /** sprite-ref: cmmn-images-sprite; */
}

.stencilsets_cmmn_cmmn_json_icons_user_event,
.x-tree-node-leaf .stencilsets_cmmn_cmmn_json_icons_user_event {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../stencilsets/cmmn/icons/user_event.png);  /** sprite-ref: cmmn-images-sprite; */
}


