<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VDMLDI -->
      <package
            uri="http://www.omg.org/spec/VDML/20131201/DI"
            class="org.jbpm.vdml.dd.vdmldi.VDMLDIPackage"
            genModel="models/VDMLDI.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated VDMLDI -->
      <parser
            type="vdmldi"
            class="org.jbpm.vdml.dd.vdmldi.util.VDMLDIResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VDMLDI -->
      <package
            uri="http://www.omg.org/spec/VDML/20150201/vdml.xmi"
            class="org.omg.vdml.VDMLPackage"
            genModel="models/VDMLDI.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated VDMLDI -->
      <parser
            type="vdml"
            class="org.omg.vdml.util.VDMLResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VDMLDI -->
      <package
            uri="http://www.omg.org/spec/SMM/20150201/SMM.cmof"
            class="org.omg.smm.SMMPackage"
            genModel="models/VDMLDI.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VDMLDI -->
      <package
            uri="http://www.omg.org/spec/SMM/20150201/DI"
            class="smmdi.SmmdiPackage"
            genModel="models/VDMLDI.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SMMDI -->
      <package
            uri="http://www.omg.org/spec/SMM/20150201/DI"
            class="org.jbpm.smm.dd.smmdi.SMMDIPackage"
            genModel="models/SMMDI.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated SMMDI -->
      <parser
            type="smmdi"
            class="org.jbpm.smm.dd.smmdi.util.SMMDIResourceFactoryImpl"/>
   </extension>

</plugin>
